# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md

# Images
!battleButton.png_
!calendar_item.png_
!damage_bonus.png_
!dungeon_bg.png_
!dungeon_item.png_
!enemy.png_
!eroStatus.png_
!menu.png_
!menu2.png_
!ninshin.png_
!shop_item.png_
!status_item.png_
!title01.png_
!title02.png_
!ui2.png_